@import "./common.scss";
@include clear-ul-default-style;

.gr-aside {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  z-index: 999;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);

  .ls-item {
    padding: 1.25rem;
    width: 100%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &.active {
      background-color: #f0f0f0;
      color: #333;
    }
  }
}

.main-container {
  transition: transform 0.5s;
  height: 100vh;

  .sg-page {
    height: 100vh;
  }

  #Home {
    background-size: cover;
    background-position: center center;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100vh;
    }
  }
}
