<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;

            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <script type="module" src="./index.js"></script>
    <gr-tabs>
        <gr-tab title="标签一">1</gr-tab>
        <gr-tab title="标签二">2</gr-tab>
    </gr-tabs>
</body>

</html>